pyrogram==2.0.106
tgcrypto==1.2.5
playwright==1.44.0
playwright-stealth==1.0.6
sqlalchemy==2.0.30
aiosqlite==0.20.0
aiohttp==3.9.5
httpx==0.27.0
pandas
pandas-ta
python-dotenv==1.0.1
apscheduler==3.10.4
websockets==12.0
fake-useragent==1.5.1
pyotp==2.9.0
requests==2.31.0
2captcha-python
anticaptchaofficial
backoff
tzlocal
git+https://github.com/chema-creator/PocketOptionApi.git
asyncpg==0.29.0
